* {
    font-family: 'Roboto', sans-serif;
    color: #ffffff;
}

a {
    text-decoration: none;
    color: #ffffff;
}

body {
    padding: 0;
    margin: 0;
    background: #ffffff;
}

.nav {
    overflow: hidden;
    width: 100%;
    margin: 0 auto 0;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav a {
    text-decoration: none;
    outline: none;
    display: block;
}

.topmenu {
    width: 90%;
    height: 50px;
    margin-left: 5%;
    text-align: center;
    padding: 10px 0;
}

.top-left-menu {
    text-align: right;
    margin-top: -70px;
}

.topmenu b {
    color: white;
}

.nav .topmenu > a {
    font-family: "arial", sans-serif;
    padding: 15px;
    display: inline-block;
}

.topmenu > li {
    display: inline-block;
    position: relative;
}

.topmenu > li > a {
    padding: 12px 15px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 0;
}

.topmenu li a:hover {
    color: aliceblue;
}

.logo {
    display: block;
    margin: -60px 0 0 20px;
    width: 110px;
}

img.logo {
    float: left;
}

.title {
    text-align: center;
}

.l1 {
    margin-top: 180px;
    font-size: 24px;
}

.l2 {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
}

.page-container {
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    background-color: transparent;
    background-repeat: no-repeat;
    width: 100%;
    height: 960px;
    overflow: hidden;
}

.info {
    display: block;
    background-color: ghostwhite;
    float: left;
    margin-top: -960px;
    width: 650px;
    height: 960px;
}

.info2 {
    display: block;
    background-color: ghostwhite;
    width: 100%;
    height: 220px;
    margin-top: -100px;
}

.b1 {
    background-image: url("/img/first.jpg");
}

.b2 {
    background-image: url("/img/second.jpg");
}

.b3 {
    background-image: url("/img/third.jpg");
    background-size: contain;
    background-position: center top;
}

.b5 {
    background-image: url("/img/five.jpg");
}

.b6 {
    background-image: url("/img/six.jpg");
}

.b7 {
    background-image: url("/img/seven.jpg");
}

.b8 {
    background-image: url("/img/eight.jpg");
}

.b9 {
    background-image: url("/img/nine.jpg");
}

.b10 {
    background-image: url("/img/ten.jpg");
}